# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.test.env
.
# Virtualenv
.venv/
venv/

# Alembic
alembic/versions/*.pyc
alembic/versions/*.pyo
alembic/versions/__pycache__/

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.db
*.sqlite3
docker-compose.override.yml

# Test cache
.pytest_cache/
htmlcov/
.coverage
.cache/